

  canvas {
    background-color: black;
  }

  body {
    background-color: rgb(91, 115, 138);
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
  }

  .btn {
    margin-right: 10px;
    border: 1px solid;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .fire {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }

  .fire:hover {
    background-color: #4CAF50;
    color: white;
  }

  .reset {
    background-color: #575555;
  }

  .reset:hover {
    background-color: darkgrey;
  }

  #Xdistance,
  #Ydistance,
  #time {
    font-weight: 500;
    font-size: larger;
  }

  #angle,
  #velocity {

    padding: 10px 10px;
    border-radius: 5px;
    border-color: aliceblue;
    font-size: 24px;
    width: 50px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: ultra-expanded;
  }

  label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
  }
